.lies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.li {
    display: block;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
    color: whitesmoke;
}

.li:hover {
    border-bottom: 0.125vw solid whitesmoke;
}